.parent {
    -fx-background-color: #7fac51;
}
.login_button {
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-border-color: white;
}

.text_box {
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-border-color: #D27D2D;
}

.Inform_panel {
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-border-color: #D27D2D;
    -fx-border-width: 5px;
}


.exit_button {
    -fx-background-color: #D27D2D;
}

.description {

    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-border-width: 3px;
    -fx-border-color: #D27D2D;


}

